#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    period: period {
        compatible = "zmk,behavior-tap-dance";
        label = "PERIOD";
        #binding-cells = <0>;
        bindings = <&kp DOT>, <&kp COLON>;
    };

    period_plus: period_plus {
        compatible = "zmk,behavior-tap-dance";
        label = "PERIOD_PLUS";
        #binding-cells = <0>;
        bindings = <&kp EXCL>, <&kp QMARK>;
    };

    comma: comma {
        compatible = "zmk,behavior-tap-dance";
        label = "COMMA";
        #binding-cells = <0>;
        bindings = <&kp COMMA>, <&kp SEMI>;
    };

    quote: quote {
        compatible = "zmk,behavior-tap-dance";
        label = "QUOTE";
        #binding-cells = <0>;
        bindings = <&kp SQT>, <&kp DQT>, <&kp GRAVE>;
    };

    division: division {
        compatible = "zmk,behavior-tap-dance";
        label = "DIVISION";
        #binding-cells = <0>;
        bindings = <&kp SLASH>, <&kp PERCENT>;
    };

    group_begin: group_begin {
        compatible = "zmk,behavior-tap-dance";
        label = "GROUP_BEGIN";
        #binding-cells = <0>;
        bindings = <&kp LPAR>, <&kp LBKT>, <&kp LBRC>;
    };

    group_end: group_end {
        compatible = "zmk,behavior-tap-dance";
        label = "GROUP_END";
        #binding-cells = <0>;
        bindings = <&kp RPAR>, <&kp RBKT>, <&kp RBRC>;
    };

    tap_hold: tap_hold {
        compatible = "zmk,behavior-hold-tap";
        label = "TAP_HOLD";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
    };

    encoder_page: encoder_page {
        compatible = "zmk,behavior-sensor-rotate";
        label = "ENCODER_PAGE";
        #sensor-binding-cells = <0>;
        bindings = <&kp PAGE_DOWN>, <&kp PAGE_UP>;
    };

    bt_nav: bt_nav {
        compatible = "zmk,behavior-sensor-rotate";
        label = "BT_NAV";
        #sensor-binding-cells = <0>;
        bindings = <&bt BT_NXT>, <&bt BT_NXT>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <22 23>;
        };

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <15 14>;
        };
    };

    macros {
        grave_accent_macro: accent_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RALT &kp GRAVE>;
            label = "ACCENT_MACRO";
        };

        acute_accent_macro: acute_accent_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RALT &kp APOSTROPHE>;
            label = "ACUTE_ACCENT_MACRO";
        };

        circumflex_accent_macro: circumflex_accent_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RALT &kp CARET>;
            label = "CIRCUMFLEX_ACCENT_MACRO";
        };

        diaeresis_accent_macro: diaeresis_accent_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RALT &kp DOUBLE_QUOTES>;
            label = "DIAERESIS_ACCENT_MACRO";
        };

        c_cedilla_macro: cedilla_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RALT &kp COMMA &kp C>;
            label = "CEDILLA_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&none       &kp N1                &kp N2                &kp N3             &kp N4             &kp N5    &mmv MOVE_UP     &kp N6  &kp N7              &kp N8             &kp N9                 &kp N0                &none
&none       &kp Q                 &kp W                 &kp E              &kp R              &kp T     &mmv MOVE_DOWN   &kp Y   &kp U               &kp I              &kp O                  &kp P                 &none
&kp HOME    &tap_hold A LEFT_WIN  &tap_hold S LEFT_ALT  &tap_hold D LSHFT  &tap_hold F LSHFT  &kp G     &mmv MOVE_LEFT   &kp H   &tap_hold J RSHIFT  &tap_hold K RCTRL  &tap_hold L RIGHT_ALT  &tap_hold UNDER LWIN  &kp END
&none       &kp Z                 &kp X                 &kp C              &kp V              &kp B     &mmv MOVE_RIGHT  &kp N   &kp M               &kp SPACE          &kp BACKSPACE          &kp TAB               &none
&kp C_MUTE  &trans                &trans                &trans             &trans             &trans    &mkp LCLK        &trans  &trans              &trans             &trans                 &trans
            >;

            sensor-bindings = <&encoder_page>;
            display-name = "base_layer";
        };

        symbols {
            bindings = <
&trans     &trans                 &trans                 &trans              &trans                   &trans          &trans  &trans      &trans              &trans              &trans                  &trans             &trans
&trans     &kp TILDE              &kp AT                 &kp HASH            &kp AMPERSAND            &group_begin    &trans  &group_end  &kp PIPE            &kp BSLH            &period_plus            &trans             &trans
&kp CARET  &tap_hold N1 LEFT_WIN  &tap_hold N2 LEFT_ALT  &tap_hold N3 LCTRL  &tap_hold N4 LEFT_SHIFT  &kp N5          &trans  &kp N6      &tap_hold N7 RSHFT  &tap_hold N8 RCTRL  &tap_hold N9 RIGHT_ALT  &tap_hold N0 RWIN  &kp LS(DOLLAR)
&trans     &kp LESS_THAN          &division              &kp STAR            &kp MINUS                &kp PLUS        &trans  &kp EQUAL   &quote              &comma              &period                 &kp GREATER_THAN   &trans
&trans     &trans                 &trans                 &trans              &trans                   &trans          &trans  &trans      &trans              &trans              &trans                  &trans
            >;

            sensor-bindings = <&encoder_page>;
            display-name = "symbols";
        };

        hardware {
            bindings = <
&bootloader  &soft_off     &sys_reset    &trans        &bt BT_CLR    &bt BT_CLR_ALL    &trans  &trans  &trans           &trans  &sys_reset  &soft_off  &bootloader
&trans       &trans        &trans        &trans        &trans        &trans            &trans  &trans  &trans           &trans  &trans      &trans     &trans
&trans       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &trans  &trans  &rgb_ug RGB_TOG  &trans  &trans      &trans     &trans
&trans       &trans        &trans        &trans        &trans        &trans            &trans  &trans  &trans           &trans  &trans      &trans     &trans
&trans       &trans        &trans        &trans        &trans        &trans            &trans  &trans  &trans           &trans  &trans      &trans
            >;

            sensor-bindings = <&bt_nav>;
            display-name = "hardware";
        };

        mouse {
            bindings = <
&none  &none     &none     &none      &none      &none    &trans  &none           &none           &none         &none            &none  &none
&none  &none     &none     &none      &none      &none    &trans  &none           &none           &none         &none            &none  &none
&none  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none    &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &none  &none
&none  &none     &none     &none      &none      &none    &trans  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none  &none
&none  &none     &none     &none      &none      &none    &trans  &mkp LCLK       &mkp MCLK       &mkp RCLK     &none            &none
            >;

            sensor-bindings = <&encoder_page>;
            display-name = "mouse";
        };

        layer5 {
            bindings = <
&trans    &trans  &trans  &trans  &trans  &trans    &trans  &trans          &trans         &trans       &trans     &trans           &trans
&trans    &trans  &trans  &trans  &trans  &trans    &trans  &trans          &trans         &kp INSERT   &trans     &kp PRINTSCREEN  &trans
&kp HOME  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT_ARROW  &kp DOWN       &kp UP       &kp RIGHT  &trans           &kp END
&trans    &trans  &trans  &trans  &trans  &trans    &trans  &trans          &kp PAGE_DOWN  &kp PAGE_UP  &trans     &trans           &trans
&trans    &trans  &trans  &trans  &trans  &trans    &trans  &trans          &trans         &trans       &trans     &trans
            >;

            sensor-bindings = <&encoder_page>;
            display-name = "layer 6";
        };
    };
};
